/* 
    Document   : cakephp_kihon
    Created on : 2012/11/13, 16:51:27
    Author     : user
    Description:
        Purpose of the stylesheet follows.
*/

body { 
    background: #778090;
    color: #ffffff;
}

a{
    color: #dddddd;
}

/* 管理画面用のStyle */
.adminForm{
    background: #dddddd;
}

.adminForm tr{
    color: #505050;
}

.remark{
    color: #ff0000;
    font-size: 11px;
}

.adminBound{
    width: 580px;
    text-align:left;
    margin-left:0px;
}