/* 
    Document   : cakephp_kihon
    Created on : 2012/11/13, 16:51:27
    Author     : user
    Description:
        Purpose of the stylesheet follows.
*/

body { 
    background:#66ffcc;
}

div.error-message{
    color: #ff0000;
    font-size: 11px;
}


