/* 
    Document   : cakephp_kihon
    Created on : 2012/11/13, 16:51:27
    Author     : user
    Description:
        Purpose of the stylesheet follows.
*/

body { 
    background: #778090;
    color: #ffffff;
}

a{
    color: #dddddd;
}


