@charset "utf-8";
/* CSS Document */

/*
    detail.css
	
	Fumiya Sakai(fumiyasac.com). 

	01: index
	02: detail
	03: specials
        04: about
	05: contact

*/

/* ============================================================
01: index
============================================================ */

/* ============================================================
02: detail
============================================================ */

/* ============================================================
03: specials
============================================================ */

/* ============================================================
04: about
============================================================ */

/* ============================================================
05: contact
============================================================ */
/* form common set */
#contactForm{
    
}

div.error-message{
    color: #ff0000;
    margin-left: 5px;
    line-height: 1.6;
}

.required{
    color: #ff0000;
}


